@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can see touristic destinations around all of Costa Rica in "Destinations"!</p>
</div>
